@page "/login"
@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<h3>Login</h3>

<label for="email">Email:</label>
<input type="email" @bind="Email" name="email" />
<label for="password">Password:</label>
<input type="password" @bind="password" name="password" />
    @if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">
        <p>@error</p>
    </div>
}
<button @onclick="LoginClicked">Login</button>

@code {
    public string Email { get; set; }

    private string password;
    private string error;

    private async Task LoginClicked()
    {
        error = null;
        var user = await UserManager.FindByEmailAsync(Email);
        if (user == null)
        {
            error = "User not found";
            return;
        }


        if (await SignInManager.CanSignInAsync(user))
        {
            var result = await SignInManager.CheckPasswordSignInAsync(user, password, true);
            if (result == Microsoft.AspNetCore.Identity.SignInResult.Success)
            {
                Guid key = Guid.NewGuid();
                BlazorCookieLoginMiddleware.Logins[key] = new LoginInfo { Email = Email, Password = password };
                NavigationManager.NavigateTo($"/login?key={key}", true);
            }
            else
            {
                error = "Login failed. Check your password.";
            }
        }
        else
        {
            error = "Your account is blocked";
        }
    }
}