.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Custom Dropdown Menu Position */
.custom-navbar .dropdown-menu {
    right: 0; /* Aligns the dropdown to the right of the button */
    left: auto; /* Overrides the default left alignment */
    min-width: 400px; /* Adjust the width as needed */
}

/* Adjusting the Dropdown for Different Screen Sizes */
@media (max-width: 992px) { /* Adjust this breakpoint as needed */
    .custom-navbar .dropdown-menu {
        right: auto; /* Resets to default alignment for smaller screens */
        left: 0;
    }
}

.custom-button-margin {
    margin-right: 10px;
}

.navbar-brand img {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* This will maintain the aspect ratio */
}


.custom-navbar {
    background-color: #0a5e58; /* Navbar background color */
}

.navbar-brand, .nav-link {
    color: #ffffff !important; /* Font color */
}

.custom-button-color:hover {
    background-color: #74b5a9; /* Slightly darker on hover */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Customizing toggle icon color */
}

/* Margin between searchbars PerformGeneralSearch and rounding them up */

.btn-group .custom-button-color {
    margin-right: 10px; /* Adjust as needed */
}


.d-xl-flex .form-control.me-2 {
    margin-right: 0 !important; /* Removes the right margin */
    border-radius: 0; /* Removes rounding from all corners */
}

/* Apply rounded corners to the right side of the input */
.d-xl-flex .form-control.me-2 {
    border-top-left-radius: 0.25rem; /* Adjust radius as needed */
    border-bottom-left-radius: 0.25rem;
}



/* Specific targeting for the general search button */
.d-xl-flex .general-search-btn {
    border-radius: 0; /* Removes rounding from all corners */
    border-top-right-radius: 0.25rem; /* Apply rounded corners to the right side */
    border-bottom-right-radius: 0.25rem;
}
