@using RoaringView.Data
@using System.Globalization;


<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="Images/logo-roaring-bright.png" alt="RoaringView Logo" />
        </a>
        <!-- Toggler for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Navbar Items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <NavLink class="nav-link" href="CompanyInfo">All Companies</NavLink>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-dropdown" id="dashboardDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dashboard
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                        <li>
                            <!--  Search Form (For Specific Company Details) -->
                            <form class="d-flex" @onsubmit="PerformSpecificCompanySearch">
                                <input class="form-control me-2 custom-input-margin" @bind="companySearchTerm" type="search" placeholder="Search by ORG Nummer" aria-label="Search" id="specificCompanySearch" name="specificCompanySearch">
                                <button class=" btn custom-button-color custom-button-margin" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </li>

             @*    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="CompanyStructureDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Company Hierarchy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="CompanyStructureDropdown">
                        <li>
                            <!--  Search Form (For Specific Company Details) -->
                            <form class="d-flex" @onsubmit="PerformOrgStructureSearch">
                                <input class="form-control me-2 custom-input-margin" @bind="companySearchTerm" type="search" placeholder="Search by ORG Nummer" aria-label="Search" id="OrgStructureSearch" name="OrgStructureSearch">
                                <button class="btn custom-button-color custom-button-margin" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </li>   *@          

                <li class="nav-item">
                    <NavLink class="nav-link" href="add-company">Add Company</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">Login</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
              

            </ul>

            <!-- Filtered Search (Visible on Large Screens only) -->
            <form class="d-none d-md-flex  d-sm-flex d-xs-flex" @onsubmit="PerformFilteredSearch">
                <div class="btn-group">
                    <button type="button" class="btn custom-button-color dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Filters
                    </button>
                    <ul class="dropdown-menu p-2">
                        <li>
                            <label for="companyName">Company Name</label>
                            <input class="form-control" @bind="filterCompanyName" type="text" placeholder="Company Name" id="companyName" />
                        </li>
                        <li>
                            <label for="roaringCompanyId">Roaring Company ID</label>
                            <input class="form-control" @bind="filterRoaringCompanyId" type="text" placeholder="Roaring Company ID" id="roaringCompanyId" />
                        </li>
                        <div class="d-flex justify-content-between">
                            <div class="flex-fill me-1">
                                <label for="startDate">Registration Start Date</label>
                                <input class="form-control input" type="text" placeholder="dd/mm/yyyy" id="startDate" data-input>
                                <a class="input-button" title="toggle" data-toggle>
                                    <i class="icon-calendar"></i>
                                </a>
                            </div>
                            <div class="flex-fill ms-1">
                                <label for="endDate">Registration End Date</label>
                                <input class="form-control input" type="text" placeholder="dd/mm/yyyy" id="endDate" data-input>
                                <a class="input-button" title="toggle" data-toggle>
                                    <i class="icon-calendar"></i>
                                </a>
                            </div>



                

                    <li class="flex-fill me-1">
                        <label for="minRating">Min Rating</label>
                        <input class="form-control" @bind="minRating" type="number" placeholder="Min Rating" id="minRating" />
                    </li>
                    <li class="flex-fill ms-1">
                        <label for="maxRating">Max Rating</label>
                        <input class="form-control" @bind="maxRating" type="number" placeholder="Max Rating" id="maxRating" />
                    </li>
                </div>
                <li class="mt-2 text-center">
                    <button class="btn custom-button-color btn-sm" type="submit">Search with Filters</button>
                </li>
                     </ul></div>
                <div class="d-flex justify-content-between">
        </div> 
        </form>

        <!-- General Search (Visible on Large Screens and above only) -->
        <form class="d-none d-xl-flex d-xxl-flex" @onsubmit="PerformGeneralSearch">
            <input class="form-control me-2" @bind="generalSearchTerm" type="search" placeholder="General Search" />
            <button class="btn custom-button-color general-search-btn" type="submit">Search</button>
        </form>

    </div>
  
    </div>
</nav>

