@page "/add-company"
@using RoaringView.Model
@using RoaringView.Pages

<h3>Add Company</h3>

<div class="container-fluid">
    <form>
        @if (!isAdvancedSearch)
        {
            <!-- Basic Search -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="orgNumberInputBasic">Organization Number</label>
                    <input type="text" class="form-control" id="orgNumberInputBasic" @bind="FreeText" placeholder="Enter organization number">
                </div>
            </div>
        }
        else
        {
            <!-- Advanced Search -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="companyNameInput">Company Name</label>
                    <input type="text" class="form-control" id="companyNameInput" @bind="CompanyName" placeholder="Enter company name">
                </div>
                <div class="form-group col-md-6">
                    <label for="townInput">Town</label>
                    <input type="text" class="form-control" id="townInput" @bind="Town" placeholder="Enter town">
                </div>
            </div>

        }
        <button type="button" class="btn btn-primary" @onclick="SearchCompany">Search</button>
    </form>

    <button type="button" class="btn btn-link" @onclick="ToggleSearchMode">
        @if (isAdvancedSearch)
        {
            <span>Basic Search</span>
        }
        else
        {
            <span>Advanced Search</span>
        }
    </button>
</div>

@if (SearchResult != null)
{
    @DisplayCompaniesTable
}



@code {
    private bool isAdvancedSearch = false; // This variable tracks the search mode

    private void ToggleSearchMode()
    {
        isAdvancedSearch = !isAdvancedSearch; // Toggle the search mode
    }
}