@page "/add-company"
@using RoaringView.Model
@using RoaringView.Pages

<h3>Add Company</h3>

<input type="text" @bind="FreeText" placeholder="Enter search text" />
<button @onclick="SearchCompany">Search</button>

@if (SearchResult != null)
{
    @DisplayCompaniesTable
}
