@page "/add-company"
@using RoaringView.Model
@using RoaringView.Pages

<h3>Add Company</h3>

<form>
    <div class="form-group">
        <label for="orgNumberInput">Organization Number</label>
        <input type="text" class="form-control" id="orgNumberInput" @bind="FreeText" placeholder="Enter organization number">
    </div>
    <button type="button" class="btn btn-primary" @onclick="SearchCompany">Search</button>
</form>

@if (SearchResult != null)
{
    @DisplayCompaniesTable
}
